*{box-sizing: border-box;}
a{text-decoration: none; color: #888; }

#header{width:100%; height:100px; background:#ffffff; border-bottom:1px solid black; position: relative; }
#header .bgGnb{display: none; position: absolute; left:0; top:100px; z-index: 1; 
                width:100%; height:200px; background: rgba(0,0,0,0.5);}
#header .inner{width:1180px; margin: 0 auto;}
#header .inner::after{content: ''; clear: both; display: block;}

#header .logo{float:left; padding:30px 0 0 0;}
#header .logo > a{display: block; font: bold 32px/40px '맑은고딕'; color: #4477BE;}


#header .gnb_wrap{float:right; position: relative; z-index: 2;}



#gnb{margin-top:40px;}
#gnb > li{float:left;}
#gnb > li > a{display: block; width:auto; line-height:60px; padding:0 30px;}
/*#gnb > li:hover > a{background: #4477BE; color: white;}*/

#gnb>li>a>span{display: block; width: auto; font-weight: bold; }
#gnb>li>a>span>.en{opacity: 1; text-transform: capitalize;}
#gnb>li>a>span>.ko{opacity: 0; margin-top:-60px;}
#gnb>li:hover>a>.en{opacity: 0;}
#gnb>li:hover>a>.ko{opacity: 1;}

#gnb > li > .submenu{display: none; width:100%; text-align: center;}
/*#gnb > li > .submenu > li{background:#F9F9F9;}*/
#gnb > li > .submenu > li> a{display: block; width:100%; line-height: 40px; color: #000000;}
#gnb > li > .submenu > li:hover > a{font-weight: bold; color: #4477BE;}

#header .toggle{display: none;}

@media screen and (max-width:980px){
    #header{height:80px; position: fixed; left: 0; top: 0; }
    #header .inner{width:100%; padding:0 40px;}
    
    #header .logo{padding:25px 0 0 0;}
    #header .logo > a{font: bold 32px/30px '맑은고딕';}

    #header .gnb_wrap{float:none; position: fixed; top:80px; right:0; width:300px; height:100%; background:#F2F4F9;}

    #gnb{}
    #gnb > li{width:100%; text-align: center;}
    #gnb > li > a{width:100%; line-height:50px; padding:0;}
    #gnb > li:hover > a{}

    #gnb > li > .submenu{}
    #gnb > li > .submenu > li{background: #F9F9F9;}
    #gnb > li > .submenu > li> a{display: block; width:100%; line-height: 40px; color: #000000;}
    #gnb > li > .submenu > li:hover > a{font-weight: bold;}
    
    #header .toggle{display: block; position: absolute; right:40px; top:25px; 
        color:#444; font-size: 32px; cursor: pointer;}
    

}