*{box-sizing: border-box;}
a{text-decoration: none; color: #444; }


/*--------header pc버전------------------------------------------------------------------------------*/
#header{width:100%; height:100px;  position:fixed; left:0; top:0;  background-color: white; box-shadow: 0 0 10px rgba(0,0,0,0.1);}

#header .bgGnb{
    display: none; position: absolute; left:0; top:100px; 
    background-color: rgba(0,0,0,0.7); width:100%; height:220px;
}
#header .bgGnb .inner{padding:32px 0px;}
#header .bgGnb .pic{float:right; width:300px;}
#header .bgGnb .pic img{width:100%;}

#header .inner{width:1180px; margin: 0 auto;}
#header .inner::after{content: ''; clear: both; display: block;}

#header .logo{float:left; margin-top:10px;}
#header .logo>a{display: block;}

#header .gnb_wrap{float:left;}

#gnb{position: relative; z-index: 1; margin-top:40px; margin-left:20px; text-align: center;}
#gnb >li{position: relative; float:left; width:auto;}
#gnb >li::after{
    content: '';display: block; position: absolute; left:0; top:56px;
    width:100%; height:4px; background: crimson; transform: scaleX(0); transform: 0.3s;
}
#gnb>li:hover::after{transform:scaleX(1);}

#gnb >li >a{display: block;  line-height: 60px; padding: 0 30px; }
#gnb >li >a > span{display: block; color:#444; text-transform: uppercase;}
#gnb >li >a >.en{opacity: 1;}
#gnb >li >a >.ko{opacity: 0; margin-top:-60px; }
#gnb >li:hover >a >.en{opacity: 0;}
#gnb >li:hover >a >.ko{opacity: 1;}

#gnb >li > .submenu{display: none; margin-top: 10px;}
#gnb >li > .submenu > li > a{display: block; width:100%; line-height: 40px; color: #fff; font-size:15px;}
#gnb >li > .submenu > li:hover >a{color: crimson;}

#header .icon_wrap{float:right;  margin-top:40px;}
#header .icon_wrap > li{float:left;}
#header .icon_wrap > li > a{display: block; line-height: 60px; padding: 0 15px;}
#header .icon_wrap > .facebook > a{font-size:25px;}
#header .icon_wrap > .instagram > a{font-size:25px;}

#header .toggle{display: none;}

/*--------header 반응형------------------------------------------------------------------------------*/
@media screen and (max-width:1200px){
    #header .inner{width:100%; padding:0 20px;}
    #gnb >li >a{font-size: 14px; line-height: 60px; padding:0 25px; }
    #header .icon_wrap > li > a{line-height: 60px; padding: 0 10px;}
    #header .icon_wrap > .notice > a{font-size: 14px;}
    #header .icon_wrap > .facebook > a{font-size:20px;}
    #header .icon_wrap > .instagram > a{font-size:20px;}
}

@media screen and (max-width:980px){
    #header{height:80px;}
    #header .inner{width:100%; padding: 0 40px;}

    #header .bgGnb{display: none;}

    #header .logo{padding-top:0px; margin-top: 9px;}

    #header .logo img{width:52px; height:70px;}

    #header .gnb_wrap{
        position: fixed; right:0; top:80px; 
        width:300px; height:100%; background-color: rgba(0,0,0,0.7);
    }

    #gnb{margin-left:0px;}

    #gnb > li{width:100%;}
    #gnb > li:hover::after{transform: scaleX(1);}
    
    #gnb >li >a{line-height: 60px; padding:0; }
    #gnb >li >a >span{display: block; width:100%; color: #fff;}

    #gnb >li >.submenu{display: none;}
    #gnb >li >.submenu >li >a{background:gray; }


    #header .icon_wrap{position: absolute; top:-20px; right:98px;}

    #header .icon_wrap > li > a{padding: 0 10px;}
    #header .icon_wrap > .notice > a{font-size:15px;}
    #header .icon_wrap > .facebook > a{font-size:20px;}
    #header .icon_wrap > .instagram > a{font-size:20px;}


    #header .toggle{
        display: block; position: absolute; right:40px; top:25px; font-size: 32px;
        background: none; border: none; outline: 0; cursor: pointer; z-index: 0;

    }



}


/*--------content영역 pc버전------------------------------------------------------------------------------*/

/*---------공통-----------------------------------------------*/
#visual{width:100%; height:600px; background: #f2f4f9;}
.content{width:100%; padding:100px 0; text-align: center; overflow: hidden;}
.content .inner{width:1180px; margin: 0 auto;}
.content .inner::after{content: ''; clear: both; display: block;}
.content .title{margin-bottom: 20px; font-size:20px; font-weight: bold; color:#444; }
.content .txt{margin-bottom: 40px; font-size:16px; color: #777; }
.content .box{float:left; margin-right: 25px; transition: 0.3s;}
.content .box:last-of-type{margin-right: 0px;}

/*---------con1-----------------------------------------------*/
#con1 .box{
    width:376px; height: 200px; background: gray;
    transform: translateY(100px); opacity: 0;
}
#con1 .box:nth-of-type(1){transition-delay:0s; }
#con1 .box:nth-of-type(2){transition-delay:0.2s; }
#con1 .box:nth-of-type(3){transition-delay:0.4s; }

#con1.on .box{transform: translateY(0px); opacity: 1;}

/*---------con2-----------------------------------------------*/
#con2 .box{width:577px; height:400px; background: gray; opacity: 0;}

#con2 .box:nth-of-type(1){transition-delay:0s; transform: translateX(-100%); }
#con2 .box:nth-of-type(2){transition-delay:0.3s; transform: translateX(100%); }

#con2.on .box{transform: translateX(0px); opacity: 1;}

/*---------con3-----------------------------------------------*/
#con3{height:400px; background: lightgray;}


/*---------con4-----------------------------------------------*/
#con4 .inner{transform: translateX(-100%); transition: 0.8s;}
#con4.on .inner{transform: translateX(0%); }
#con4 .box{width:276px; height:300px; background: gray;}


/*---------con5-----------------------------------------------*/
#con5 .box{width:33.333%; margin-right: 0; padding: 30px; opacity: 0;}
#con5 .box .icon{
    width:80px; height:80px; border-radius: 100%; background:lightgray;
    line-height: 80px; font-size: 28px; margin: 20px auto;
}
#con5 .box .icon_title{font-size: 16px; color: #444; margin-bottom: 10px;}
#con5 .box .icon_txt{font-size:14px; line-height: 23px; color: #777;}

#con5 .box:nth-of-type(1){transition-delay: 0s;}
#con5 .box:nth-of-type(2){transition-delay: 0.2s;}
#con5 .box:nth-of-type(3){transition-delay: 0.4s;}
#con5 .box:nth-of-type(4){transition-delay: 0.6s;}
#con5 .box:nth-of-type(5){transition-delay: 0.8s;}
#con5 .box:nth-of-type(6){transition-delay: 1s;}


#con5.on .box{ opacity: 1;}

/*---------con6-----------------------------------------------*/
#con6 .box{
    float: none; width: 400px; height: 400px; margin: 0 auto; 
    border-radius: 100%; background: #444;
    transform: rotateY(180deg); opacity: 0;
}
#con6.on .box{transform: rotateY(0deg); opacity: 1;}


/*---------con7-----------------------------------------------*/
#con7 .inner{perspective: 700px}
#con7 .box{width: 276px; height: 276px; 
    margin-bottom: 25px; background: #ddd; 
    transform: rotateX(180deg); opacity: 0;
     transform-origin: top;}
#con7 .box:nth-of-type(4n){margin-right: 0;}
#con7 .box:nth-of-type(1){transition-delay: 0s}
#con7 .box:nth-of-type(2){transition-delay: 0.1s}
#con7 .box:nth-of-type(3){transition-delay: 0.2s}
#con7 .box:nth-of-type(4){transition-delay: 0.3s}
#con7 .box:nth-of-type(5){transition-delay: 0.4s}
#con7 .box:nth-of-type(6){transition-delay: 0.5s}
#con7 .box:nth-of-type(7){transition-delay: 0.6s}
#con7 .box:nth-of-type(8){transition-delay: 0.7s}
#con7.on .box{transform: rotateX(0deg); opacity: 1;}



/*--------content영역 반응형------------------------------------------------------------------------------*/
@media screen and (max-width:1200px){
    .content{padding:100px 40px;}
    .content .inner{width:100%;}
    .content .box{margin-right:3%; margin-bottom: 20px;}
    
    #con1 .box{width:31.333%;}
    #con2 .box{width:48.5%;}
    #con4 .box{width:22.75%;}
}

@media screen and (max-width:980px){
    
}

@media screen and (max-width:767px){
    .content{padding: 80px 40px;}
    .content .box:nth-of-type(2n){margin-right: 0;}
    
    #con1 .box{width:48.5%;}
    #con2 .box{width:100%;}
    #con4 .box{width:48.5%;}
    #con5 .box{width:50%;}
    #con7 .box{width: 48%;}
}

@media screen and (max-width:639px){
    .content{padding: 60px 20px;}

     #con6 .box{width: 350px; height: 350px}
}

@media screen and (max-width:480px){
    #con1 .box{width:100%;}
    #con4 .box{width:100%;}
    #con5 .box{width:100%;}
    #con6 .box{width: 280px; height: 280px}
}



/*--------footer------------------------------------------------------------------------------*/
#footer{width:100%; height:200px; background: #333;}

